body {
    background: #93c47d;
}

#search_pane {
    border: solid black 2px;
}

#results_pane {
}


#dog_fields {
}

#location_fields {
    
}
#owner_fields {

}

#results_pane {
    background: #b6d7a8;
}

